.dart_tool/
build/
.packages
.flutter-plugins
.flutter-plugins-dependencies

android/.gradle/
android/app/build/
android/local.properties

*.jks
*.keystore
android/key.properties
.env
.env.*
**/.env
**/.env.*

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/Flutter.podspec

.idea/
*.iml
.DS_Store
Thumbs.db